header {
    background-color:rgb(0, 204, 255);
    margin-bottom: 20px;
}
.red {
    background-color: orange;
}
.green{
    background-color: lightgreen;
    margin-bottom: 20px;

}

.yellow {
background-color: yellow;

}
.brown {
    background-color: rgb(151, 155, 155);
    margin-top: 20px;
}
.go{
    background-color: red;
    margin-bottom: 20px;
}